body {
  width: 95%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

#nav {
  background-color: #ff8d12;
  font-weight: bold;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 95%;
  margin: auto;
  /* height: 50px; */
}

#brand:hover {
  color: #dfcac6;
}

#main {
  background-image: url(https://images.pexels.com/photos/2231158/pexels-photo-2231158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  color: black;
  font-weight: bold;
  line-height: 25px;
  padding-top: 25px;
}

#main h2 {
  text-transform: uppercase;
  font-weight: bolder;
}

#main card {
  color: black;
}

hr {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

blockquote {
  font-size: 20px;
  color: white;
  font-family: 'Satisfy', cursive;
}

footer {
  background-color: #f32501;
}