body {
  width: 95%;
  margin: auto;
}

#nav {
  background-color: #ff8d12;
  font-weight: bold;
}

#brand:hover {
  color: #dfcac6;
}

#main {
  background-image: url(https://images.pexels.com/photos/2231158/pexels-photo-2231158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  color: black;
  font-weight: bold;
}

#main card {
  color: black;
}

hr {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}
blockquote{
  font-size: 20px;
  color: white;
}