body {
  width: 95%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-image: url(https://images.pexels.com/photos/342971/pexels-photo-342971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: 100% 100%;
}

#nav {
  background-color: #f32501;
  font-weight: bold;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 95%;
  margin: auto;
}

h4 {
  padding-top: 70px;
}

#brand:hover {
  color: #ff8d12;
}

#contact {
  padding-top: 100px;
  width: 95%;
  height: 612px;
  color: whitesmoke;
  font-weight: bold;
}

#contact h4 {
  padding-top: 120px;
}

#contact a {
  text-decoration: none;
  color: black;
}

#facebook:hover {
  color: #3c5999;
}

#twitter:hover {
  color: #27aae1;
}

#insta:hover {
  color: #d58;
}

#inputs {
  padding-top: 70px;
}

footer {
  background-color: #ff8d12;
}