body {
  width: 95%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

#nav {
  background-color: #f32501;
  font-weight: bold;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 95%;
  margin: auto;
}

h2 {
  padding-top: 70px;
}

#brand:hover {
  color: #ff8d12;
}

footer {
  background-color: #ff8d12;
}

input:focus~label, textarea:focus~label, input:valid~label, textarea:valid~label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.message {
  margin: 1rem 0;
}

.message label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

input, textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

.input-container {
  width: 500px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}