body {
  width: 95%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

#nav {
  background-color: #f32501;
  font-weight: bold;
}

#brand:hover {
  color: #ff8d12;
}

#landing-page {
  background-image: url(https://images.pexels.com/photos/1741749/pexels-photo-1741749.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: 100% 100%;
}

#landing-page p {
  font-weight: bolder;
  color: white;
  padding: 130px 0 78px 0;
  line-height: 2em;
  font-size: 20px;
}

#landing-page button {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 4%;
}

#welcome h2 {
  color: #ff8d12;
  padding: 125px 0 28px 0;
  line-height: 1.6em;
  font-size: 45px;
  font-weight: bolder;
}

.btn {
  background-color: #143c01;
  border: none;
}

.btn:hover {
  background-color: #6c9448;
  color: black;
}

h3, p {
  color: limegreen;
  font-weight: bold;
}
footer{
  background-color: #ff8d12;
}