body{
  width:95%;
  margin: auto;
}
#nav {
  background-color: #f32501;
  font-weight: bold;
}

#brand:hover {
  color: #ff8d12;
}

#landing-page {
  background-image: url(https://images.pexels.com/photos/724216/pexels-photo-724216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

h3, p {
  color: limegreen;
  font-weight: bold;
}